{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} продукт - Skystore{% endblock %}
{% block header %}{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} продукт{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% if perms.catalog.can_unpublish_product %}
            <form method="post" class="d-inline">
            {% csrf_token %}
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="is_published" name="is_published"
                {% if form.instance.is_published %}checked{% endif %} onchange="this.form.submit()">
                <label class="form-check-label" for="is_published">Опубликовано</label>
            </div>
            </form>
            {% endif %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}